body {
    font-family: 'Helvetica Regular', sans-serif;
    background-color: rgb(8, 8, 8);
    margin: 0;
}

header {
    position: fixed;
    top: -1rem;
    width: 100%;
    z-index: 10;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: grey;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 8rem;
}

.nav-link {
    color: rgba(255, 255, 255, 0.45);
    font-family: 'Helvetica Regular', sans-serif;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-logo h2 {
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px grey;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #000000db;
        width: 90%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

h1 {
    color: #fff;
    font-family: 'Helvetica Bold', sans-serif;
    font-size: 32px;
}

h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif;
    font-size: 50px;
}

h3 {
    color: #fff;
    font-family: 'Helvetica Regular', sans-serif;
    font-size: 24px;
}

h4 {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif;
    font-size: 18px;
}

p {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif;
    font-size: 16px;
}

.button-nav:hover,
.button-nav:focus {
    background-color: rgb(200, 200, 200);
}

.button-nav {
    padding: 10px 10px;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.button-nav:hover,
.button-nav:focus {
    background-color: rgba(100, 100, 100);
}

.home-hero {
    position: relative;
}

#myVideo {
    top: 0;
    max-width: 100%;
    z-index: -1;
}

.hero {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 8vw;
}

.hero h1 {
    color: rgba(245, 245, 255, 0.75);
    margin-top: 1rem;
    font-size: 3.5vw;
}

.about-section {
    display: flex;
    align-items: center;
    padding: 50px;
    border-top: 2px solid #fff;
}

.about-section-image img {
    width: 100%;
    margin-right: 30px;
    margin-left: -55px;
    border: 2px solid #fff;
}

.about-text h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif;
    font-size: 80px;
    margin-bottom: 15px;
}

.about-text p {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

@media only screen and (max-width: 768px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 800px) {
    .project {
        position: relative;
        width: calc(50% - 0px);
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .projects-container {
        flex-direction: column;
        align-items: center;

    }

    #backVideo {
        height: 100%;
    }
}

.projects-section {
    border-top: 2px solid #fff;
}

.projects-section h1 {
    color: #fff;
    font-family: 'Helvetica Bold', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    margin-bottom: 0;
}

.projects-section h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif;
    font-size: 70px;
    text-decoration: underline;
    margin-bottom: 0;
    margin-right: 55px;
    text-align: right;
}

.h3-container {
    display: flex;
}

.h3-container h3 {
    margin-right: 10px;
    border: 2px solid #ffffff5f;
    border-radius: 15px;
    padding: clamp(4px, 0.5vw, 8px) clamp(8px, 1vw, 16px); 
    font-size: clamp(0.8rem, 1vw, 1.2rem); 
    color: #ffffff5f;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.project img {
    width: 100%;
    max-width: 95%;
    height: 60%;
    object-fit: cover;
    border: 2px solid #fff;
}

.video-background {
    position: relative;
}

#backVideo {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    z-index: -1;
    border-bottom: 2px solid #fff;
}

.project .view-project-container {
    position: absolute;
    right: 10px;
}

.project a {
    display: inline-block;
    font-family: 'Helvetica Light', sans-serif;
    font-size: clamp(1rem, 1.1vw, 2.5rem); 
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contact-section {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 50px;
}

.contact-section h2 {
    font-size: clamp(3rem, 5vw, 4rem); 
}

.contact-section h3 {
    font-size: clamp(1rem, 1.2vw, 1.5rem); 
}

.contact-section .mail-icon {
    vertical-align: middle;
}

.footer-icons {
    margin-top: 50px;
}

.footer-rights {
    margin-top: 10%;
}

.footer-rights h4 {
    margin-top: 10%;
    font-size: clamp(0.8rem, 1vw, 1.2rem); 
}

/* Projects format */
.sprout-project-details {
    margin-top: 10%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.ndt-project-details {
    margin-top: 10%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nw-project-details {
    margin-top: 10%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.es-project-details {
    margin-top: 10%;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

/* JourneyHacks '24 */
.sprout-intro {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.sprout-intro img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.sprout-lead-text {
    margin-right: 20px;
    margin-bottom: 40px;
}

.sprout-lead .image-container {
    display: flex;
    width: auto;
    overflow-x: scroll;
    margin-bottom: 5%;
}

.sprout-lead .image-container img {
    width: 50%;
    margin-right: 10px;
}

.sprout-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.sprout-process iframe {
    width: 55vw;
    height: 55vh;
    margin-bottom: 10%;
}

.sprout-success {
    display: flex;
    margin-bottom: 10%;
}

.sprout-success-text {
    width: 110%;
    margin-right: 20px;
}

.sprout-success img {
    width: 100%;
}

.sprout-success h1 {
    font-size: 18px;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .sprout-intro {
        display: flex;
        flex-direction: column;
    }

    .sprout-success {
        display: flex;
        flex-direction: column;
    }

    .sprout-success-text {
        margin-bottom: 5%;
    }
}

/* Eclipse */
.es-intro {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.es-intro img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.es-homepage {
    display: flex;
    margin-bottom: 5%;
}

.es-homepage .es-home-text {
    width: 50%;
    margin-right: 50px;
}

.es-home-scroll {
    height: 500px;
    width: 60%;
    overflow-y: scroll;
}

.es-home-scroll img {
    width: 100%;
}

.es-about-scroll {
    height: 500px;
    width: 50%;
    overflow-y: scroll;
    margin-bottom: 5%;
}

.es-services-scroll {
    height: 500px;
    width: 50%;
    overflow-y: scroll;
}

.es-scroll {
    display: flex;
}

.es-scroll img {
    width: 100%;
}

.es-insights {
    display: flex;
    margin-bottom: 5%;
}

.es-insights .es-insights-text {
    width: 50%;
    margin-left: 30px;
}

.es-insights-scroll {
    height: 500px;
    width: 60%;
    overflow-y: scroll;
}

.es-insights-scroll img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .es-intro {
        display: flex;
        flex-direction: column;
    }
}

/* nwHacks */
.nw-intro {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.nw-intro img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.nw-lead-text {
    margin-right: 20px;
    margin-bottom: 40px;
}

.nw-lead img {
    width: 60%;
    margin-right: 10px;
}

.nw-process-text {
    text-align: right;
    width: 85%;
    margin-left: auto;
}

.nw-process-image {
    display: flex;
    flex-direction: column;
}

.nw-success-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.nw-success-image {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .nw-intro {
        display: flex;
        flex-direction: column;
    }
}

/* Creative Theater Web Design */
.ndt-intro {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.ndt-intro img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.ndt-direction {
    display: flex;
    margin-bottom: 30px;
}

.ndt-direction .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.ndt-direction .image-container img {
    width: 100%;
    height: auto;
}

.branding-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10%;
}

.branding-image-container img {
    width: 100%;
}

.ndt-homepage {
    display: flex;
    margin-bottom: 5%;
}

.ndt-homepage .home-text {
    width: 50%;
}

.home-scroll {
    height: 500px;
    width: 60%;
    overflow-y: scroll;
    margin-right: 20px;
}

.home-scroll img {
    width: 100%;
}

.program-scroll {
    height: 500px;
    width: 50%;
    overflow-y: scroll;
    margin-bottom: 5%;
}

.gallery-scroll {
    height: 500px;
    width: 50%;
    overflow-y: scroll;
}

.ndt-scroll {
    display: flex;
}

.ndt-scroll img {
    width: 100%;
}

.booking-scroll {
    display: flex;
    height: 600px;
    width: auto;
    overflow-x: scroll;
    margin-bottom: 5%;
}

.booking-scroll img {
    width: 100%;
    margin-right: 10px;
}

.ndt-success {
    margin-bottom: 10%;
}

.ndt-success h1 {
    font-size: 18px;
    text-align: end;
}

@media only screen and (max-width: 768px) {
    .ndt-intro {
        display: flex;
        flex-direction: column;
    }

    .ndt-direction {
        display: flex;
        flex-direction: column;
    }

    .branding-image-container {
        display: flex;
        flex-direction: column;
    }

    .ndt-scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Footer Buttons */
.footer-buttons {
    margin-top: 30px;
}