body {
    font-family: 'Helvetica Regular', sans-serif;
    background-color: rgb(8, 8, 8);
    margin: 0;
}

header {
    text-align: center;
    position: fixed; 
    z-index: 2; 
}

nav {
    position: fixed; 
    top: 16px;
    width: 100%;
    padding: 1rem 0; 
    z-index: 3; 
}

nav ul {
    list-style-type: none;
    text-align: right; 
}

nav ul li {
    display: inline;
    margin-left: 2%; 
}

nav ul li:last-child {
    margin-right: 3%;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.45);
    font-family: 'Helvetica Regular', sans-serif;
    font-size: 1.2rem; 
    text-decoration: none;
    padding: 1rem 5%; 
    transition: transform 0.3s ease;
}

h1 {
    color: #fff;
    font-family: 'Helvetica Bold', sans-serif; 
    font-size: 32px; 
}

h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif; 
    font-size: 50px; 
}

h3 {
    color: #fff;
    font-family: 'Helvetica Regular', sans-serif; 
    font-size: 24px; 
}

h4 {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif; 
    font-size: 18px; 
}

p {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif; 
    font-size: 16px; 
}

.button-nav:hover, .button-nav:focus,
.button2-nav:hover, .button2-nav:focus {
  background-color: rgb(200, 200, 200);
}

.home-hero {
    position: relative; 
}

#myVideo {
    top: 0;
    max-width: 100%; 
    z-index: -1; 
}

.hero {
    position: absolute; 
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    text-align: center; 
}

.hero h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 8rem; 
}

.hero h1 {
    color: rgba(245, 245, 255, 0.75);
    margin-top: 1rem;
    font-size: 3.5rem; 
}

.about-section {
    display: flex;
    align-items: center; 
    padding: 50px; 
    border-top: 2px solid #fff;;
}

.about-section img {
    max-width: 50%; 
    margin-right: 30px; 
    margin-left: -55px; 
    border: 2px solid #fff;;
}

.about-text h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif; 
    font-size: 80px; 
    margin-bottom: 15px;
}

.about-text p {
    color: #fff;
    font-family: 'Helvetica Light', sans-serif; 
    font-size: 18px;
    line-height: 1.6; 
}

.projects-section {
    border-top: 2px solid #fff;;
}

.projects-section h1 {
    color: #fff;
    font-family: 'Helvetica Bold', sans-serif; 
    font-size: 40px; 
    margin-bottom: 0;
}

.projects-section h2 {
    color: #fff;
    font-family: 'Helvetica Compressed', sans-serif; 
    font-size: 70px; 
    text-decoration: underline;
    margin-bottom: 0;
    margin-right: 55px;
    text-align: right;
}

.h3-container {
    display: flex; 
}

.h3-container h3 {
    margin-right: 10px; 
    border: 2px solid #ffffff5f; 
    border-radius: 15px; 
    padding: 5px 10px; 
    font-size: 14px; 
    color: #ffffff5f; 
}

.projects-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 30px; 
}

.project {
    position: relative;
    width: calc(50% - 0px); 
    margin-bottom: 5rem;
}

.project img {
    width: 100%; 
    max-width: 95%;
    height: 60%; 
    object-fit: cover; 
    border: 2px solid #fff;;
}

.video-background {
    position: relative;
}

#backVideo {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    z-index: -1; 
    border-bottom: 2px solid #fff;;
}

.project .view-project-container {
    position: absolute; 
    right: 10px; 
}

.project a {
    display: inline-block;
    font-family: 'Helvetica Light', sans-serif; 
    font-size: 15px;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contact-section {
    text-align: center;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 60px;
}

/* Projects format */
.project-details {
    margin-top: 10%;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* JourneyHacks '24 */
.sprout-intro {
    display: flex;
    align-items: center;
}

.sprout-intro img {
    width: 50%; 
    height: auto; 
    margin-right: 20px; 
}

.sprout-lead-text {
    margin-right: 20px;
}

.sprout-lead .image-container {
    display: flex;
    width: auto;
    overflow-x: scroll;
}

.sprout-lead .image-container img {
    width: 50%; 
    margin-right: 10px;
}

.sprout-process {
    display: flex;
    margin-left: 10%;
    margin-right: 6%;
}

.sprout-process iframe {
    margin-right: 20px;
    width: 600px; /* Adjust the width to fill the viewport width */
    height: 350px; /* Adjust the height of the video as needed */
}

.sprout-success {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.sprout-success img{
    width: 70%;
}

/* Creative Theater Web Design */
.ndt-intro {
    display: flex;
    align-items: center;
}

/* Styling for the image */
.ndt-intro img {
    width: 50%; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust the space between image and text */
}

.ndt-direction .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Adjust the gap between images as needed */
}

.ndt-direction .image-container img {
    width: 100%; /* Make sure images take up full width of their container */
    height: auto; /* Maintain aspect ratio */
}

.ndt-homepage{
    display: flex;
}

.home-scroll{
    height: 500px;
    width: 60%;
    overflow-y: scroll;
    margin-right: 20px;
}

.home-scroll img{
    width: 100%;
}

.program-scroll{
    height: 500px;
    width: 50%;
    overflow-y: scroll;
}

.gallery-scroll{
    height: 500px;
    width: 50%;
    overflow-y: scroll;
}

.ndt-scroll{
    display: flex;
}

.ndt-scroll img{
    width: 100%;
}

.booking-scroll{
    display: flex;
    height: 600px;
    width: auto;
    overflow-x: scroll;
}

.booking-scroll img {
    width: 100%;
    margin-right: 10px;
}





